body {
    background-image: url("../Images/ManageUserBackGround.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

:root {
    --main-hight: 100vh;
    --second-hight: 50vh;
    --main-width: 100%;
    --second-width: 50%;
    --main-color: red;
    --second-color: yellow;
}

.form-test {

    background-color: black;
    background-image: linear-gradient(var(--main-color),var(--second-color));
    height: 500px;
    width: 500px;

    border: 5px red solid;
    border-radius: 10px;
    backdrop-filter: 50%;

    margin: auto;
    margin-top: 150px;

}

.Box {
    height: 70%;
    width: 70%;
    padding: 20px;
    margin: 50px;
}

p {
    font-size: medium;
    font-style: oblique;
    color: cyan;
}