
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

:root {
    --main-hight: 100vh;
    --second-hight: 50vh;
    --main-width: 100%;
    --second-width: 50%;
    --main-color: #691e1e;
    --second-color: yellow;
}

div {
    background-color: aqua;
    width: 200px;
    height: 600px;
    margin: auto;
}

.red {
    background-color: var(--second-color);
    width: 100px;
    height: 100px;
}
.green {
    background-color: green;
    width: 100px;
    height: 100px;
}
.blue {
    background-color: blue;
    width: 100px;
    height: 100px;
}

.float {
    border: 2px var(--main-color) solid;
    margin: 5px;
    box-shadow: 5px 5px 5px ;
    float: inline-end;
}