
body {
    background-color: #1e1e1ea0;
}

.container {
    background-color:white;

    display: grid;

    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(4,100px);
    gap: 10px;
}

.box1 {
    border: 5px solid rgb(164, 58, 0);
    text-align: center;
    grid-column: 1/6;
}
.box2 {
    border: 5px solid rgb(164, 58, 0);
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/10;
}
.box3 {
    border: 5px solid rgb(164, 58, 0);
    text-align: center;
    grid-column: 2/4;
    grid-row: 2/10;
}
.box4 {
    border: 5px solid rgb(164, 58, 0);
    text-align: center;
    grid-column: 4/6;
    grid-row: 2/10;
}
.box5 {
    border: 5px solid rgb(164, 58, 0);
    text-align: center;
    grid-column: 1/6;
}

.box1, .box2 , .box3 , .box4 , .box5 {
    background-color: aqua;
}
