

.parent {
    background-color:plum;
    width: 80%;
    height: 500px;
    display: grid;
    padding: 20px;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
}

.parent div {
    background-image: linear-gradient(to left ,#1e1e1e,#509d50ee);
    border: white solid 2px;
    color: azure;
    font-size: larger;
    text-align: center;
    line-height: 5;

}