body {
    background-image: linear-gradient(#1e1e1e, #e493);
    padding: 0;
    margin: 0;
    height: 100vh;
}

:root {

    --main-color : blue;
    --second-color : yellowgreen;
    --thhird-color : yellow;

}

.main-container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.S {
    color: var(--main-color);
}

.Name {
    color: var(--thhird-color);
    border-color: var(--second-color);
    border-radius: 20%;
    border-width: 10px;
    font-size: medium;
}

.form {
    
    background-color: white;
    height: 500px;
}

