
html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
  background-image: linear-gradient(to top,#1e1e1e,#b42828);
}

.Container {
    padding: 10px;
    background-color: yellowgreen;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;

    gap: 10px;
}

.item {
    background-color: #5f5f96;
    height: 100px;
    width: 100px;

}

@media (max-width:600px) {
    .Container {
        flex-direction: column;
    }
    .item {
        width: 100%;
    }
}
@media (min-width:601px) and (max-width:900px) {
    .Container {
        flex-wrap: wrap;
    }
    .item {
        width: 49%;
    }
}
