
body {
    background-color: aqua;
}
.overflow {
    height: 500px;
    width: 50%;
    text-align: center;
    color: rgb(3, 72, 132);
    padding: 15px;
    margin: auto;
    background-color: rgb(165, 192, 119);
    border: 3px solid;
    box-shadow: 5px 5px 5px;

    overflow-y: auto;
}