
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

:root {
    --main-hight: 100vh;
    --second-hight: 50vh;
    --main-width: 100%;
    --second-width: 50%;
    --main-color: red;
    --second-color: yellow;
    --third-color: black;
    --four-color: green;
    --five-color: blue;
}

div {
    background-color: var(--third-color);
    height: 300px;
    width: 50%;
    background-size: contain;
}

div:hover {
    /* background-color:blue ; */
    background-image: url("/Images/img3.jpg");
    background-color: var(--four-color);
    
}

div:active {
    background-image: url("/Images/img2.jpg");
    border: 2px solid red;
}

p:empty {
    background-color: aquamarine;
    height: 50px;
    width: 30%;
}

input:focus {
    background-color: var(--main-color);
}

input:disabled {
    background-color: yellow;
}

input:required {
    background-color: yellowgreen;
}

input:invalid {
    background-color: #b218187c;
}
input:valid {
    background-color: #6db21f7c;
}

p::first-letter {
    font-size: xx-large;
    color: whitesmoke;
    background-color: var(--second-color);
}

p::first-line{
    font-family: cursive;
}

p::selection {
    background-color: #0000ff8c;
    color: red;
}

