

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

:root {
    --main-hight: 100vh;
    --second-hight: 50vh;
    --main-width: 100%;
    --second-width: 50%;
    --main-color: red;
    --second-color: yellow;
}

h1::before {
    content: '👨‍💻';

}

h1::after {
    content: '🤾‍♀️🤸‍♀️🤸‍♂️🏃‍♂️';
}