
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

:root {
    --main-hight: 100vh;
    --second-hight: 50vh;
    --main-width: 100%;
    --second-width: 50%;
    --main-color: red;
    --second-color: yellow;
}

table {
    border-radius: 10px;
    width: 90%;
    margin: auto;
    font-size: 2em;
    /* border-spacing: 2.5px; */
    vertical-align: middle;
    border-collapse: collapse;
}

th {
    background-color: #67aaaa;
        color: rgb(213, 78, 0);
        text-shadow: 3px 3px 3px rgb(244, 203, 203);
        text-align: center;
        height: 50px;
        border: 2px rgb(0, 0, 0) solid;
}
td {
    background-color: hsla(180, 81%, 53%, 0.2);
    border: 2px #72d54eb5 solid;
}
tfoot {
    background-color: #892be234;
    text-align: center;
}

