
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

:root {
    --main-hight: 100vh;
    --second-hight: 50vh;
    --main-width: 100%;
    --second-width: 50%;
    --main-color: red;
    --second-color: yellow;
}
.Text-Transform {
    direction: rtl;
}


#Text {
    border: 5px yellowgreen dashed;
    background-color: gray;
    backdrop-filter: 10%;
    color: brown;
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
}